@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0eee6;
  --foreground: #242116;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input {
  padding: 4px 8px;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  font-size: 0.875em;
  line-height: 1.25em;

  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--foreground);

  background-color: var(--background);
  color: var(--foreground);

  white-space: pre-wrap;
  word-wrap: break-word;

  word-break: break-all;
}

b {
  font-weight: 600;
}

ul {
  list-style-type: disc;
}

